@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: 100%;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section {
  margin: 13% 10%;
}
nav ul {
  display: inline-flex;
}
nav ul {
  gap: 25px;
}
nav ul li a {
  @apply font-tPrincipal
  font-medium
  text-[15px]
  text-[#242424];
}
.hidden {
  display: none;
}

.box-container {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 30%;
  background-color: #1f1c1b;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 14px 15px 80px 0px rgba(0, 0, 0, 0.58);
  z-index: 3000;
  transition: 1s all ease-in;
}
.mostrar {
  display: hidden;
}
.box-container .btn {
  padding: 16px 13px;
  margin-top: 20px;
}

@media (max-width: 875px) {
  .box-container {
    width: 70%;
    padding: 20px 16px;
  }
} /* JS CODE CSS */
.bodyBlack {
  background-color: #161616cb;
  z-index: 2000;
  width: 100%;
  height: inherit;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
}
